.profile-name {
    margin:auto;
}

.profile-email {
    margin: auto;
}
.profile-pic {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 10%;
    max-height: auto;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.form {
    margin: 20px auto;
    width: fit-content;
    padding: 20px;
    background: #329443;
    border-radius: 10px;
}