{% extends '_layout.html' %}

{% block title %}Subject add{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="form">
    <label for="title">Title:</label>
    <br />
    <input id="title" name="title" />
    <br />
    <label for="subject">Subject:</label>
    <br />
    <input id="subject" name="subject" />
    <br />
    <label for="start_date">Start date:</label>
    <br />
    <input type="date" id="start_date" name="start_date"
           value="2022-01-01"
           min="2022-01-01" max="2026-12-31">
    <br />
    <label for="end_date">End date:</label>
    <br />
    <input type="date" id="end_date" name="end_date"
           value="2022-01-01"
           min="2022-01-01" max="2026-12-31">
    <br />
    <label for="description">Description:</label>
    <br />
    <input id="description" name="description" />
    <br />
    <br />
    <input type="submit" value="Add a subject" />
</form>

{% endblock %}