{% extends '_layout.html' %}

{% block title %}Subject selection{% endblock %}

{% block content %}
<table id="list">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Action</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{row.ID}}</td>
        <td>{{row.title}}</td>
        <td>{{row.subject}}</td>
        <td>{{row.description}}</td>
        <td>{{row.start_date}}</td>
        <td>{{row.end_date}}</td>
        <td>
            <a href="/deletesubjectselection?id={{row.ID}}">Unselect</a>

        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('view_subject') }}">View subjects</a>
{% endblock %}