{% extends '_layout.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename="signup.css") }}">
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login" method="post" enctype="multipart/form-data">
                <div class="signup__field">
                    <input id="first_name" class="signup__input" placeholder="First name">
                </div>
                <div class="signup__field">
                    <input id="last_name" class="signup__input" placeholder="Last name">
                </div>
                <div class="signup__field">
                    <input type="text" id="email" class="signup__input" name="email" placeholder=" Email">
                    <p id="message"></p>
                </div>

                <div class="signup__field">
                    <i class="signup__icon fas fa-lock"></i>
                    <input type="password" id="password" name="password" class="signup__input" placeholder="Password">
                </div>
                <div class="signup__field">
                    <input id="pic" type="file" name="avatar">
                </div>
                <button class="button signup__submit">
                    <span class="button__text">Sign up</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
<script>
    let emailInput = document.querySelector('#email');
    let message = document.querySelector('#message');

    emailInput.addEventListener('input', checkUniqueEmail);

    async function checkUniqueEmail() {
        let response = await fetch("/checkemail?email=" + emailInput.value);
        let json = await response.json();

        if (json.status == 'OK') {
            message.style.color = 'green';
            message.textContent = 'Email is available';
        } else {
            message.style.color = 'red';
            message.textContent = 'Email is taken';
        }

        // Send a message to flask to check if email was taken or not

    }

</script>

{% endblock %}
