{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="flex column">
    <img class="profile-pic" src="{{url_for('static', filename='images/' + (user_info.avatar or 'default.png'))}}" />

    <div class="flex row">
        <p class="profile-name">{{user_info.first_name}} {{user_info.last_name}}</p>

        <p class="profile-email">{{user_info.email}}</p>
    </div>
</div>

<table id="list">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Start date</th>
        <th>End date</th>
        {% if session['role'] == 'admin' %}
        <th>Actions</th>
        {% endif %}
    </tr>
    {% for row in subject_info %}
    <tr>
        <td>{{row.subject_id}}</td>
        <td>{{row.title}}</td>
        <td>{{row.subject}}</td>
        <td>{{row.description}}</td>
        <td>{{row.start_date}}</td>
        <td>{{row.end_date}}</td>
        <td>
            {% if session['role'] == 'admin' %}
            <a href="/subjectedit?id={{row.ID}}">Edit</a>
            <a href="/subjectdelete?id={{ row.ID }}" onclick="return confirm('Are you sure you want to delete {{ row.title }}')">Delete</a>
            {% endif %}
        </td>
    </tr>

    {% endfor %}
</table>
{% endblock %}